---
http_interactions:
- request:
    method: post
    uri: https://rc.relais-host.com/portal-service/user/authentication
    body:
      encoding: UTF-8
      string: '{"ApiKey":"DUMMY_BD_API_KEY","PartnershipId":"BD","UserGroup":"patron","LibrarySymbol":"DUMMY_BD_LIBRARY_SYMBOL","PatronId":"DUMMY_BD_PATRON"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"AuthorizationId":"rf74SbwNvlrxx6BLgPdZOAC4diA","LibrarySymbol":"DUMMY_BD_LIBRARY_SYMBOL","Iso639_2_LangCode":"ENG","FirstName":"Jonathan","LastName":"Rochkind","AllowLoanAddRequest":true,"AllowCopyAddRequest":false,"AllowSelDelivLoanChange":true,"AllowSelDelivCopyChange":false}'
  recorded_at: Tue, 25 Aug 2015 20:46:04 GMT
- request:
    method: post
    uri: https://rc.relais-host.com/dws/item/available?aid=rf74SbwNvlrxx6BLgPdZOAC4diA
    body:
      encoding: UTF-8
      string: '{"PartnershipId":"BD","ExactSearch":[{"Type":"ISBN","Value":"NO_SUCH_THING"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"Available":false,"SearchTerm":"isbn=NO_SUCH_THING","RequestLink":{"ButtonLink":"http://findit.library.jhu.edu/resolve?genre=Book&sid=BD&rft.title=Boys%20and%20their%20toys&rft.aufirst=Bill&rft.aulast=Adler&rft.date=c2007\n&rft.pub=AMACOM&rft.place=New%20York","ButtonLabel":"Request","RequestMessage":"Borrow
        Direct cannot fill this request at this time.  Please request through Interlibrary
        Loan."}}'
  recorded_at: Tue, 25 Aug 2015 20:46:24 GMT
recorded_with: VCR 2.9.3
