---
http_interactions:
- request:
    method: post
    uri: https://bdtest.relais-host.com/dws/item/available
    body:
      encoding: UTF-8
      string: ! '{"PartnershipId":"BD","Credentials":{"LibrarySymbol":"DUMMY_BD_LIBRARY_SYMBOL","Barcode":"DUMMY_BD_FINDITEM_PATRON"},"ExactSearch":[{"Type":"ISBN","Value":"0745649890"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"Item":{"Available":true,"SearchTerm":"isbn=0745649890","AuthorizationId":"nED5rq9WVGXNOtzci3BgkGq8DGw","RequestLink":{"RequestMessage":"This
        item is available locally"},"PickupLocations":{"PickupLocation":["*Milton
        S. Eisenhower Library","APL - EP STUDENTS - Ed Center","APL STAFF - Room 5-17","Arthur
        Friedheim Library","Columbia Center","Harbor East","Harrison Medical Library-Bayview","Institute
        of the History of Medicine","JH Medical Campus Office (faculty and staff)","JHMI
        Pickup - Armstrong 306","JHMI Pickup - BSPH E4643","JHMI Pickup - Hampton
        House 9th floor","JHMI Pickup - PCTB 115-116","JHMI Pickup - School of Nursing
        313","JHU Homewood Office (faculty and grad students)","Montgomery Library
        Resource Center","SAIS Library","Washington Library Resource Center","Welch
        Medical Library","Wilmer Friedenwald Library"]}}}'
  recorded_at: Mon, 20 Oct 2014 13:57:48 GMT
recorded_with: VCR 2.9.3
