---
http_interactions:
- request:
    method: post
    uri: https://bdtest.relais-host.com/portal-service/user/authentication
    body:
      encoding: UTF-8
      string: '{"ApiKey":"DUMMY_BD_API_KEY","PartnershipId":"BD","UserGroup":"patron","LibrarySymbol":"DUMMY_BD_LIBRARY_SYMBOL","PatronId":"DUMMY_BD_PATRON"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"AuthorizationId":"jFhhLcmfsvNd--xb51VbbuU20PU","LibrarySymbol":"DUMMY_BD_LIBRARY_SYMBOL","Iso639_2_LangCode":"ENG","FirstName":"Jonathan","LastName":"Rochkind","AllowLoanAddRequest":true,"AllowCopyAddRequest":false,"AllowSelDelivLoanChange":true,"AllowSelDelivCopyChange":false}'
  recorded_at: Wed, 29 Jul 2015 18:18:51 GMT
- request:
    method: post
    uri: https://bdtest.relais-host.com/dws/item/available?aid=jFhhLcmfsvNd--xb51VbbuU20PU
    body:
      encoding: UTF-8
      string: '{"PartnershipId":"BD","ExactSearch":[{"Type":"ISBN","Value":"9810743734"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"Item":{"Available":true,"SearchTerm":"isbn=9810743734","AuthorizationId":"jFhhLcmfsvNd--xb51VbbuU20PU","PickupLocations":{"PickupLocation":["*Milton
        S. Eisenhower Library","APL - EP STUDENTS - Ed Center","APL STAFF - Room 5-17","Arthur
        Friedheim Library","Columbia Center","Harbor East","Harrison Medical Library-Bayview","Institute
        of the History of Medicine","JH Medical Campus Office (faculty and staff)","JHMI
        Pickup - Armstrong 306","JHMI Pickup - BSPH E4643","JHMI Pickup - Hampton
        House 9th floor","JHMI Pickup - PCTB 115-116","JHMI Pickup - School of Nursing
        313","JHU Homewood Office (faculty and grad students)","Montgomery Library
        Resource Center","SAIS Library","Washington Library Resource Center","Welch
        Medical Library","Wilmer Friedenwald Library"]}}}'
  recorded_at: Wed, 29 Jul 2015 18:18:51 GMT
recorded_with: VCR 2.9.3
