---
http_interactions:
- request:
    method: post
    uri: https://bdtest.relais-host.com/portal-service/user/authentication
    body:
      encoding: UTF-8
      string: '{"ApiKey":"DUMMY_BD_API_KEY","PartnershipId":"BD","UserGroup":"patron","LibrarySymbol":"DUMMY_BD_LIBRARY_SYMBOL","PatronId":"DUMMY_BD_PATRON"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"AuthorizationId":"WgrriDHq9d8Fl4NheKiYpjjXMFs","LibrarySymbol":"DUMMY_BD_LIBRARY_SYMBOL","Iso639_2_LangCode":"ENG","FirstName":"Enrico","LastName":"Silterra","AllowLoanAddRequest":true,"AllowCopyAddRequest":false,"AllowSelDelivLoanChange":true,"AllowSelDelivCopyChange":false}'
  recorded_at: Tue, 05 Apr 2016 20:20:03 GMT
- request:
    method: post
    uri: https://bdtest.relais-host.com/dws/item/available?aid=WgrriDHq9d8Fl4NheKiYpjjXMFs
    body:
      encoding: UTF-8
      string: '{"PartnershipId":"BD","ExactSearch":[{"Type":"ISBN","Value":"0747538492"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"Available":false,"SearchTerm":"isbn=0747538492","RequestLink":{"ButtonLink":"https://cornell.hosts.atlas-sys.com/illiad/illiad.dll/OpenURL?genre=Book&sid=BD&HeldLocally=Y&rft.title=Harry%20Potter%20and%20the%20chamber%20of%20secrets&rft.date=1998&rft.isbn=0747538492%20%28hardcover%29&rft.dat=40697461&rft.pub=Bloomsbury%20Publishing&rft.place=London","ButtonLabel":"Request","RequestMessage":"Click
        here to place an Interlibrary Loan request."},"NumberOfRecords":1}'
  recorded_at: Tue, 05 Apr 2016 20:20:11 GMT
recorded_with: VCR 3.0.0
