---
http_interactions:
- request:
    method: post
    uri: https://rc.relais-host.com/portal-service/user/authentication
    body:
      encoding: UTF-8
      string: '{"ApiKey":"DUMMY_BD_API_KEY","PartnershipId":"BD","UserGroup":"patron","LibrarySymbol":"DUMMY_BD_LIBRARY_SYMBOL","PatronId":"DUMMY_BD_PATRON"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"AuthorizationId":"1fIxntLAkmc7_FWG2v1r0e-tCqc","LibrarySymbol":"DUMMY_BD_LIBRARY_SYMBOL","Iso639_2_LangCode":"ENG","FirstName":"Jonathan","LastName":"Rochkind","AllowLoanAddRequest":true,"AllowCopyAddRequest":false,"AllowSelDelivLoanChange":true,"AllowSelDelivCopyChange":false}'
  recorded_at: Tue, 25 Aug 2015 20:46:48 GMT
- request:
    method: post
    uri: https://rc.relais-host.com/dws/item/available?aid=1fIxntLAkmc7_FWG2v1r0e-tCqc
    body:
      encoding: UTF-8
      string: '{"PartnershipId":"BD","ExactSearch":[{"Type":"ISBN","Value":"9780143037248"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"Available":false,"SearchTerm":"isbn=9780143037248","RequestLink":{"ButtonLink":"http://findit.library.jhu.edu/resolve?genre=Book&sid=BD&rft.title=A%20field%20guide%20to%20getting%20lost&rft.aufirst=Rebecca&rft.aulast=Solnit&rft.date=2006%2C%20c2005&rft.isbn=0143037242\n&rft.isbn=9780143037248&rft.pub=Penguin&rft.place=New%20York","ButtonLabel":"Request","RequestMessage":"Borrow
        Direct cannot fill this request at this time.  Please request through Interlibrary
        Loan."}}'
  recorded_at: Tue, 25 Aug 2015 20:46:49 GMT
recorded_with: VCR 2.9.3
