---
http_interactions:
- request:
    method: post
    uri: https://bdtest.relais-host.com/portal-service/user/authentication
    body:
      encoding: UTF-8
      string: '{"ApiKey":"DUMMY_BD_API_KEY","PartnershipId":"BD","UserGroup":"patron","LibrarySymbol":"DUMMY_BD_LIBRARY_SYMBOL","PatronId":"DUMMY_BD_PATRON"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"AuthorizationId":"XjAynQFMAZQqSBF4zTSxgBqOhfY","LibrarySymbol":"DUMMY_BD_LIBRARY_SYMBOL","Iso639_2_LangCode":"ENG","FirstName":"Jonathan","LastName":"Rochkind","AllowLoanAddRequest":true,"AllowCopyAddRequest":false,"AllowSelDelivLoanChange":true,"AllowSelDelivCopyChange":false}'
  recorded_at: Wed, 29 Jul 2015 18:18:46 GMT
- request:
    method: post
    uri: https://bdtest.relais-host.com/dws/item/available?aid=XjAynQFMAZQqSBF4zTSxgBqOhfY
    body:
      encoding: UTF-8
      string: '{"PartnershipId":"BD","ExactSearch":[{"Type":"ISBN","Value":"1441190090"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"Item":{"Available":false,"SearchTerm":"isbn=1441190090","AuthorizationId":"XjAynQFMAZQqSBF4zTSxgBqOhfY","RequestLink":{"ButtonLink":"http://findit.library.jhu.edu/resolve?genre=book&sid=Relais&rft.title=Chomsky%20-%20a%20guide%20for%20the%20perplexed&rft.aufirst=John&rft.aulast=Collins&rft.isbn=9781441190093%20%28electronic%20bk.%29&rft.isbn=1441190090%20%28electronic%20bk.%29&rft.date=c2008&rft.pub=Continuum&rft.place=London%20%3B","ButtonLabel":"Request","ButtonPrefix":"rft","RequestMessage":"Borrow
        Direct cannot fill this request at this time.  Please request through Interlibrary
        Loan."}}}'
  recorded_at: Wed, 29 Jul 2015 18:18:47 GMT
recorded_with: VCR 2.9.3
