---
http_interactions:
- request:
    method: post
    uri: https://rc.relais-host.com/portal-service/user/authentication
    body:
      encoding: UTF-8
      string: '{"ApiKey":"DUMMY_BD_API_KEY","PartnershipId":"BD","UserGroup":"patron","LibrarySymbol":"DUMMY_BD_LIBRARY_SYMBOL","PatronId":"DUMMY_BD_PATRON"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"AuthorizationId":"MbynxCrjQdab24026KZ7cn76wSk","LibrarySymbol":"DUMMY_BD_LIBRARY_SYMBOL","Iso639_2_LangCode":"ENG","FirstName":"Jonathan","LastName":"Rochkind","AllowLoanAddRequest":true,"AllowCopyAddRequest":false,"AllowSelDelivLoanChange":true,"AllowSelDelivCopyChange":false}'
  recorded_at: Tue, 25 Aug 2015 20:46:30 GMT
- request:
    method: post
    uri: https://rc.relais-host.com/dws/item/available?aid=MbynxCrjQdab24026KZ7cn76wSk
    body:
      encoding: UTF-8
      string: '{"PartnershipId":"BD","ExactSearch":[{"Type":"ISBN","Value":"1898989898"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"Problem":{"ErrorCode":"PUBFI002","ErrorMessage":"No result"}}'
  recorded_at: Tue, 25 Aug 2015 20:46:32 GMT
recorded_with: VCR 2.9.3
