---
http_interactions:
- request:
    method: post
    uri: https://bdtest.relais-host.com/portal-service/user/authentication
    body:
      encoding: UTF-8
      string: '{"ApiKey":"DUMMY_BD_API_KEY","PartnershipId":"BD","UserGroup":"patron","LibrarySymbol":"DUMMY_BD_LIBRARY_SYMBOL","PatronId":"DUMMY_BD_PATRON"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"AuthorizationId":"HF5RjIapBw2QoMh6QdAmW-tA6w8","LibrarySymbol":"DUMMY_BD_LIBRARY_SYMBOL","Iso639_2_LangCode":"ENG","FirstName":"Jonathan","LastName":"Rochkind","AllowLoanAddRequest":true,"AllowCopyAddRequest":false,"AllowSelDelivLoanChange":true,"AllowSelDelivCopyChange":false}'
  recorded_at: Wed, 29 Jul 2015 18:19:09 GMT
- request:
    method: post
    uri: https://bdtest.relais-host.com/dws/item/available?aid=HF5RjIapBw2QoMh6QdAmW-tA6w8
    body:
      encoding: UTF-8
      string: '{"PartnershipId":"BD","ExactSearch":[{"Type":"ISBN","Value":"NO_SUCH_THING"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"Item":{"Available":false,"SearchTerm":"isbn=NO_SUCH_THING","AuthorizationId":"HF5RjIapBw2QoMh6QdAmW-tA6w8","RequestLink":{"ButtonLink":"http://findit.library.jhu.edu/resolve?genre=book&sid=Relais&rft.title=Boys%20and%20their%20toys%20-%20understanding%20men%20by%20understanding%20their%20relationship%20with%20gadgets&rft.aufirst=Bill&rft.aulast=Adler&rft.date=c2007&rft.pub=AMACOM&rft.place=New%20York","ButtonLabel":"Request","ButtonPrefix":"rft","RequestMessage":"Borrow
        Direct cannot fill this request at this time.  Please request through Interlibrary
        Loan."}}}'
  recorded_at: Wed, 29 Jul 2015 18:19:19 GMT
recorded_with: VCR 2.9.3
