---
http_interactions:
- request:
    method: post
    uri: https://bdtest.relais-host.com/portal-service/user/authentication
    body:
      encoding: UTF-8
      string: '{"ApiKey":"DUMMY_BD_API_KEY","PartnershipId":"BD","UserGroup":"patron","LibrarySymbol":"DUMMY_BD_LIBRARY_SYMBOL","PatronId":"DUMMY_BD_PATRON"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"AuthorizationId":"SsHYLvo49RJn3XF9pVMFqPkcD3U","LibrarySymbol":"DUMMY_BD_LIBRARY_SYMBOL","Iso639_2_LangCode":"ENG","FirstName":"Jonathan","LastName":"Rochkind","AllowLoanAddRequest":true,"AllowCopyAddRequest":false,"AllowSelDelivLoanChange":true,"AllowSelDelivCopyChange":false}'
  recorded_at: Wed, 29 Jul 2015 18:07:50 GMT
recorded_with: VCR 2.9.3
