---
http_interactions:
- request:
    method: post
    uri: https://bdtest.relais-host.com/portal-service/user/authentication
    body:
      encoding: UTF-8
      string: '{"ApiKey":"DUMMY_BD_API_KEY","PartnershipId":"BD","UserGroup":"patron","LibrarySymbol":"DUMMY_BD_LIBRARY_SYMBOL","PatronId":"DUMMY_BD_PATRON"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"AuthorizationId":"HvREBkfhmknrcl67OHDAQbHezwg","LibrarySymbol":"DUMMY_BD_LIBRARY_SYMBOL","Iso639_2_LangCode":"ENG","FirstName":"Jonathan","LastName":"Rochkind","AllowLoanAddRequest":true,"AllowCopyAddRequest":false,"AllowSelDelivLoanChange":true,"AllowSelDelivCopyChange":false}'
  recorded_at: Wed, 29 Jul 2015 18:48:52 GMT
- request:
    method: get
    uri: https://bdtest.relais-host.com/portal-service/request/query/my?aid=HvREBkfhmknrcl67OHDAQbHezwg&fullRecord=0&type=all
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"MyRequestRecordOverflow":true,"MyRequestRecords":[{"RequestNumber":"JHU-99003093","Title":"A
        FEMINIST GLOSSARY OF HUMAN GEOGRAPHY","DateSubmitted":"Jun 27, 2015 03:08
        PM","ISO8601DateSubmitted":"20150627150856","AllowRenew":false,"AllowCancel":true,"RequestStatus":"ENTERED","RequestStatusDate":"Jun
        27, 2015 03:10 PM","ISO8601RequestStatusDate":"20150627151004"},{"RequestNumber":"JHU-99002540","Title":"THE
        FRONTIERS OF PARADISE","Author":"Levi, Peter","DateSubmitted":"Apr 14, 2015
        01:44 PM","ISO8601DateSubmitted":"20150414134437","AllowRenew":false,"AllowCancel":true,"RequestStatus":"ENTERED","RequestStatusDate":"Apr
        14, 2015 01:45 PM","ISO8601RequestStatusDate":"20150414134503"},{"RequestNumber":"JHU-99002539","Title":"THE
        FRONTIERS OF PARADISE","Author":"Levi, Peter","DateSubmitted":"Apr 14, 2015
        01:35 PM","ISO8601DateSubmitted":"20150414133556","AllowRenew":false,"AllowCancel":true,"RequestStat[...]
