---
http_interactions:
- request:
    method: post
    uri: https://bdtest.relais-host.com/portal-service/user/authentication/patron
    body:
      encoding: UTF-8
      string: ! '{"AuthenticationInformation":{"LibrarySymbol":"DUMMY_BD_LIBRARY_SYMBOL","PatronId":"DUMMY_BD_FINDITEM_PATRON"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en
    body:
      encoding: US-ASCII
      string: ! '{"Authentication":{"AuthnUserInfo":{"AId":"GhYm0yyhGyR-udljhES0V4RgoQY","LibrarySymbol":"DUMMY_BD_LIBRARY_SYMBOL","Iso639_2_LangCode":"ENG","UserLogin":"DUMMY_BD_FINDITEM_PATRON","FirstName":"Jonathan","LastName":"Rochkind","AllowLoanAddRequest":true,"AllowCopyAddRequest":false,"AllowSelDelivLoanChange":true,"AllowSelDelivCopyChange":false,"ILSProfile":{"EmailAddress":"jonathan@dnil.net","Telephone":"4105168886","AddressInformation":{"Address1":"Library
        Systems","Address2":"MSE Library\r\nHomewood Campus"}}}}}'
  recorded_at: Mon, 20 Oct 2014 14:28:11 GMT
- request:
    method: post
    uri: https://bdtest.relais-host.com/dws/item/add
    body:
      encoding: UTF-8
      string: ! '{"PartnershipId":"BD","AuthorizationId":"GhYm0yyhGyR-udljhES0V4RgoQY","PickupLocation":null,"ExactSearch":[{"Type":"ISBN","Value":"1441190090"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"Request":{"RequestLink":{"ButtonLabel":"Request","ButtonLink":"http://findit.library.jhu.edu/resolve?genre=book","RequestMessage":"Borrow
        Direct cannot fill this request at this time.  Please request through Interlibrary
        Loan."}}}'
  recorded_at: Mon, 20 Oct 2014 14:28:12 GMT
recorded_with: VCR 2.9.3
