---
http_interactions:
- request:
    method: post
    uri: https://bdtest.relais-host.com/portal-service/user/authentication/patron
    body:
      encoding: UTF-8
      string: ! '{"AuthenticationInformation":{"LibrarySymbol":"DUMMY_BD_LIBRARY_SYMBOL","PatronId":"DUMMY_BD_FINDITEM_PATRON"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en
    body:
      encoding: US-ASCII
      string: ! '{"Authentication":{"AuthnUserInfo":{"AId":"PTd7KS-T031Ub6EbmPjGjOmeErE","LibrarySymbol":"DUMMY_BD_LIBRARY_SYMBOL","Iso639_2_LangCode":"ENG","UserLogin":"DUMMY_BD_FINDITEM_PATRON","FirstName":"Jonathan","LastName":"Rochkind","AllowLoanAddRequest":true,"AllowCopyAddRequest":false,"AllowSelDelivLoanChange":true,"AllowSelDelivCopyChange":false,"ILSProfile":{"EmailAddress":"jonathan@dnil.net","Telephone":"4105168886","AddressInformation":{"Address1":"Library
        Systems","Address2":"MSE Library\r\nHomewood Campus"}}}}}'
  recorded_at: Mon, 20 Oct 2014 14:28:03 GMT
- request:
    method: get
    uri: https://bdtest.relais-host.com/portal-service/request/query/my?aid=PTd7KS-T031Ub6EbmPjGjOmeErE&fullRecord=0&type=open
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en
    body:
      encoding: US-ASCII
      string: ! '{"QueryResult":{"MyRequestRecords":[{"RequestNumber":"JHU-99000753","Title":"SIKAP
        ANARKISTIS DAN TINDAK KEKERASAN MASYARAKAT DALAM IKLIM DEMOKRASI","DateSubmitted":"Oct
        20, 2014 10:27 AM","ISO8601DateSubmitted":"20141020102722","AllowRenew":false,"AllowCancel":true,"RequestStatus":"ENTERED","RequestStatusDate":"Oct
        20, 2014 10:27 AM","ISO8601RequestStatusDate":"20141020102722"},{"RequestNumber":"JHU-99000752","Title":"SIKAP
        ANARKISTIS DAN TINDAK KEKERASAN MASYARAKAT DALAM IKLIM DEMOKRASI","DateSubmitted":"Oct
        20, 2014 10:27 AM","ISO8601DateSubmitted":"20141020102715","AllowRenew":false,"AllowCancel":true,"RequestStatus":"ENTERED","RequestStatusDate":"Oct
        20, 2014 10:27 AM","ISO8601RequestStatusDate":"20141020102715"},{"RequestNumber":"JHU-99000751","Title":"SIKAP
        ANARKISTIS DAN TINDAK KEKERASAN MASYARAKAT DALAM IKLIM DE[...]
