---
http_interactions:
- request:
    method: post
    uri: https://bdtest.relais-host.com/portal-service/user/authentication/patron
    body:
      encoding: UTF-8
      string: ! '{"AuthenticationInformation":{"LibrarySymbol":"DUMMY_BD_LIBRARY_SYMBOL","PatronId":"DUMMY_BD_PATRON"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en
    body:
      encoding: US-ASCII
      string: ! '{"Authentication":{"AuthnUserInfo":{"AId":"eZpDNHXX3uci01RGknUTFeng98Y","LibrarySymbol":"DUMMY_BD_LIBRARY_SYMBOL","Iso639_2_LangCode":"ENG","UserLogin":"DUMMY_BD_PATRON","FirstName":"Jonathan","LastName":"Rochkind","AllowLoanAddRequest":true,"AllowCopyAddRequest":false,"AllowSelDelivLoanChange":true,"AllowSelDelivCopyChange":false,"ILSProfile":{"EmailAddress":"jonathan@dnil.net","Telephone":"4105168886","AddressInformation":{"Address1":"Library
        Systems","Address2":"MSE Library\r\nHomewood Campus"}}}}}'
  recorded_at: Mon, 20 Oct 2014 21:51:51 GMT
- request:
    method: get
    uri: https://bdtest.relais-host.com/portal-service/request/query/my?aid=eZpDNHXX3uci01RGknUTFeng98Y&fullRecord=1&type=all
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en
    body:
      encoding: US-ASCII
      string: ! '{"QueryResult":{"MyRequestRecords":[{"RequestNumber":"JHU-99000767","Title":"SIKAP
        ANARKISTIS DAN TINDAK KEKERASAN MASYARAKAT DALAM IKLIM DEMOKRASI","DateSubmitted":"Oct
        20, 2014 05:05 PM","ISO8601DateSubmitted":"20141020170547","Publisher":"Pusat
        Penelitian Kemasyarakatan dan Kebudayaan, Lembaga Ilmu Pengetahuan Indonesia","PublicationType":"B","PublicationDate":"2009","PublicationPlace":"Jakarta","Isbn":"9789797994860","Isbn2":"9797994864","AllowRenew":false,"AllowCancel":true,"RequestStatus":"ENTERED","RequestStatusDate":"Oct
        20, 2014 05:33 PM","ISO8601RequestStatusDate":"20141020173304"},{"RequestNumber":"JHU-99000766","Title":"SIKAP
        ANARKISTIS DAN TINDAK KEKERASAN MASYARAKAT DALAM IKLIM DEMOKRASI","DateSubmitted":"Oct
        20, 2014 05:05 PM","ISO8601DateSubmitted":"20141020170543","Publisher":"Pusat
        Penelitian Kemasyarakatan dan Kebudayaan, Lembaga Ilmu Pengetahuan Indonesia","PublicationType":"B","PublicationDate":"2009","PublicationPlace":"Jakarta","Isbn":"9789797994860","Isbn2":"9797994864","AllowRenew":false,"AllowCancel":true,"RequestSt[...]
