---
http_interactions:
- request:
    method: post
    uri: https://bdtest.relais-host.com/dws/item/available
    body:
      encoding: UTF-8
      string: ! '{"PartnershipId":"BAD_ID","Credentials":{"LibrarySymbol":"librarySymbol","Barcode":"barcode/patronId"},"ExactSearch":[{"Type":"type","Value":"value"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 500
      message: Server Error
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"Error":{"ErrorNumber":"PUBFI003","ErrorMessage":"Invalid PartnershipId:
        BAD_ID"}}'
  recorded_at: Mon, 13 Oct 2014 14:35:32 GMT
recorded_with: VCR 2.9.3
