---
http_interactions:
- request:
    method: post
    uri: https://bdtest.relais-host.com/no/such/path
    body:
      encoding: UTF-8
      string: ! '{"foo":"bar"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Etag:
      - ! '"5411bb96-645"'
    body:
      encoding: US-ASCII
      string: ! "<!DOCTYPE html>\n<html>\n<head>\n<meta charset=\"UTF-8\">\n<link
        rel=\"icon\" href=\"/img/favicon-3.13.4-HOTFIX-RELEASE.ico\" type=\"image/x-icon\"
        />\n<link rel=\"shortcut icon\" href=\"/img/favicon-3.13.4-HOTFIX-RELEASE.ico\"
        type=\"image/x-icon\" />\n<link rel=\"stylesheet\" type=\"text/css\" href=\"/css/jquery-ui-1.10.3.custom.css\"
        />\n<link rel=\"stylesheet\" type=\"text/css\" href=\"/css/portalUI-Core-3.13.4-HOTFIX-RELEASE.css\"
        />\n<script type=\"text/javascript\" src=\"/js/head.core.min-v1.0.2.js\"></script>\n<script
        type=\"text/javascript\" src=\"/js/portalAir-3.13.4-HOTFIX-RELEASE.js\"></script>\n<title></title>\n</head>\n<body>\n\t<div
        id=\"divPage\">\n\t\t<div id=\"divHeader\">\n\t\t\t<div id=\"Header\">&nbsp;
        </div>\n\t\t\t<div id=\"ErrorMenu\">&nbsp; </div>\n\t\t</div>\n\t\t\n\t\t<div
        id=\"divContent\">\n\t\t\t<div id=\"Error404\">&nbsp; </div>\n\t\t</div> <!--
        End div Content -->\n\t\t\n\t\t<div id=\"divFooter\">\n\t\t\t<div id=\"Footer\">&nbsp;
        </div>\n\t\t</div>\n\n\t</div> <!-- End DivPage -->\n\n\t<script>\n\thead.js(\"/js/portalComponent-3.13.4-HOTFIX-RELEASE.js\",\"/htc/commonCompObj-3.13.4-HOTFIX-RELEASE.js\",\"/err/htc/errorMenuCompObj-3.13.4-HOTFIX-RELEASE.js\",\"/err/htc/error404CompObj-3.13.4-HOTFIX-RELEASE.js\",\"/htc/headerCompObj-3.13.4-HOTFIX-RELEASE.js\");\n\t\n\thead.js(\"/js/jquery.min-v1.10.1.js\",\"/js/jquery.ui.min-v1.10.3.js\",\"/js/jquery.dataset-v0.1.0.js\",\"/js/URI-v1.13.1.js\",\"/js/sessionstorage.js\",\"/js/jquery.timer.js\",\n\t\"/js/portalService-3.13.4-HOTFIX-RELEASE.js\",\"/js/portalForm-3.13.4-HOTFIX-RELEASE.js\",\"/js/portalUI-Core-3.13.4-HOTFIX-RELEASE.js\",\"/err/htc/errorBLL-3.13.4-HOTFIX-RELEASE.js\",function(){\n\t\tportalError.setUpOp404();\n\t});\n\t</script>\n</body>\n</html>"
  recorded_at: Thu, 09 Oct 2014 15:13:08 GMT
recorded_with: VCR 2.9.3
