---
http_interactions:
- request:
    method: post
    uri: https://bdtest.relais-host.com/portal-service/user/authentication
    body:
      encoding: UTF-8
      string: '{"ApiKey":"DUMMY_BD_API_KEY","PartnershipId":"BD","UserGroup":"patron","LibrarySymbol":"DUMMY_BD_LIBRARY_SYMBOL","PatronId":"DUMMY_BD_PATRON"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"AuthorizationId":"Gv6NuNabY8uPGnSoBeYeIBH5vMg","LibrarySymbol":"DUMMY_BD_LIBRARY_SYMBOL","Iso639_2_LangCode":"ENG","FirstName":"Jonathan","LastName":"Rochkind","AllowLoanAddRequest":true,"AllowCopyAddRequest":false,"AllowSelDelivLoanChange":true,"AllowSelDelivCopyChange":false}'
  recorded_at: Wed, 29 Jul 2015 18:07:57 GMT
- request:
    method: post
    uri: https://bdtest.relais-host.com/dws/item/available?aid=Gv6NuNabY8uPGnSoBeYeIBH5vMg
    body:
      encoding: UTF-8
      string: '{"PartnershipId":"BAD_ID","ExactSearch":[{"Type":"BADBAD","Value":"2292389283928392382938"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 500
      message: Server Error
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"Error":{"ErrorNumber":"PRIFI001","ErrorMessage":"Internal find item
        error"}}'
  recorded_at: Wed, 29 Jul 2015 18:07:57 GMT
recorded_with: VCR 2.9.3
