---
http_interactions:
- request:
    method: post
    uri: https://bdtest.relais-host.com/dws/item/available
    body:
      encoding: UTF-8
      string: ! '{"foo":"bar"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - text/html; charset=ISO-8859-1
    body:
      encoding: US-ASCII
      string: ! '<html>

        <head>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

        <title>Error 400 Bad Request</title>

        </head>

        <body><h2>HTTP ERROR 400</h2>

        <p>Problem accessing /dws/item/available. Reason:

        <pre>    Bad Request</pre></p><hr><i><small>Powered by Jetty://</small></i><hr/>


        </body>

        </html>

'
  recorded_at: Tue, 14 Oct 2014 19:34:34 GMT
recorded_with: VCR 2.9.3
