---
http_interactions:
- request:
    method: post
    uri: https://bdtest.relais-host.com/portal-service/user/authentication/patron
    body:
      encoding: UTF-8
      string: ! '{"AuthenticationInformation":{"LibrarySymbol":"DUMMY_BD_LIBRARY_SYMBOL","PatronId":"BAD_BARCODE"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en
    body:
      encoding: US-ASCII
      string: ! '{"Authentication":{"Problem":{"Code":"PUBAN003","Message":"Authentication
        failed[NCIP_MSG:Unknown User - #Unknown borrower barcode - please refer to
        the circulation desk.]"}}}'
  recorded_at: Tue, 21 Oct 2014 17:12:17 GMT
recorded_with: VCR 2.9.3
