---
http_interactions:
- request:
    method: post
    uri: https://bdtest.relais-host.com/portal-service/user/authentication/patron
    body:
      encoding: UTF-8
      string: ! '{"AuthenticationInformation":{"LibrarySymbol":"BAD_SYMBOL","PatronId":"DUMMY_BD_PATRON"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Content-Language:
      - en
    body:
      encoding: US-ASCII
      string: ! '{"Authentication":{"Problem":{"Code":"PUBAN005","Message":"Invalid
        library symbol"}}}'
  recorded_at: Mon, 20 Oct 2014 19:29:00 GMT
recorded_with: VCR 2.9.3
